Logs/*
Temp/*
Library/*
.vs\*
Temp/UnityLockfile
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/shadercompiler-UnityShaderCompiler.exe0.log
/Library/
\Library\
*.sln
*.csproj
obj/
obj\
/Temp/
\Temp\
Assets/NNSTYLE/qtuiloader/switch.txt
Assets/NNSTYLE/qtuiloader/switch.txt
Assets/log.txt
Assets/ZFBrowser/Demo/MainDemo.meta
Assets/window.meta
.vs/ThreeDMapAnalyzeAndMeasure/v16/.suo
